@charset "utf-8";
body{
  width: 100%;
}

.wrapper{
  width: 400px;
  margin: 0 auto;
}

.headerred{
  height: 100px;
  background: #ff0000;
}

.green{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}

.content{
  float: left;
}

.content-top-left{
  float: left;
  width: 150px;
}

.pink{
  height: 50px;
  background: #cc00db;
}

.blue{
  height: 100px;
  background: #0093b7;
}

.orange{
  float: right;
  width: 100px;
  height: 150px;
  background: #ff9e6b;
}

.brown{
  height: 100px;
  width: 250px;
  background: #8c2727;
}

.yellowfooter{
  height: 100px;
  background: #fff700;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}