@charset "utf-8";
body{
  width: 100%;
}

.wrapper{
  width: 400px;
  margin: 0 auto;
}

.redheader{
  position: relative;
  height: 100px;
  width: 400px;
  background: #ff0000;
}

.kakomi{
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ffffff;
}

.purplebox{
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px 0px 10px 10px;
  background: #a9004b;
}

.purplebox:last-child{
  margin-right: 10px;
}

.left{
  float: left;
  width: 150px;
  height: 250px;
  background: #00ff51;
}

.content{
  position: relative;
  width: 250px;
  height: 250px;
  float: left;
  background: #8c2727;
}

.kakomi2{
  position: absolute;
  left: 35px;
  top: 35px;
}

.orangebox{
  width: 140px;
  height: 40px;
  margin: 5px;
  border: 5px solid;
  border-color: #ffffff;
  background: #ff863f;
}

.yellowfooter{
  height: 100px;
  background: #ffd000;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}